/* components.css */
@layer components{

    .recomendations_cards {
        @apply w-full h-3/5 shadow-lg bg-cover bg-center bg-no-repeat rounded-t-lg;
    }
    
    .Card {
        @apply w-48 h-64 shadow-md rounded-lg;
    }
    
    .Trendings_cards {
        @apply w-auto h-96 rounded-2xl bg-center bg-no-repeat bg-cover bg-fixed scale-100 lg:bg-center lg:bg-no-repeat lg:bg-cover;
    }
    
    .CardTitle {
        @apply font-bold mt-4 mb-2 text-2xl;
    }
    
    .navLinks {
        @apply transition-all ease-in rounded-full p-2 hover:bg-primary hover:text-white text-primary font-black dark:text-white;
    }
}  